parameters:
	reportUnmatchedIgnoredErrors: true
	checkMissingIterableValueType: false

	excludes_analyse:
		- 'tests/**.php'

	ignoreErrors:
		- '/Call to an undefined method Setono\\TagBag\\Tag\\TagInterface::getParameters\(\)/'
		- '/Call to an undefined method Setono\\TagBag\\Tag\\TagInterface::getTemplate\(\)/'
